.el-tabs--card.prize-tabs > .el-tabs__header {
  border-bottom: 1px solid #d2d6dc !important;
}

.el-tabs--card.prize-tabs > .el-tabs__header .el-tabs__item {
  background: #fff !important;
}
.el-tabs--card.prize-tabs > .el-tabs__header .el-tabs__item.is-active {
  color: #fff !important;
  background: #7e58cc !important;
}
